.main {
  margin-top: 50px;
}

.th {
  border-left: 1px solid #ccc;
  padding: 3px;
}

.author-list {
  list-style-type: none;
  padding: 0;
  li {
    padding: 0;
  }
}

.columns {
  display: flex;
  flex-direction: column;
}

.paginator {
  background-color: #e0fff7;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding: 10px;
}
